#photo-list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-flex;
}

#photo-list img{
    border: solid 5px rgb(175, 175, 175);
    border-radius: 25px;
    box-shadow: 2px 2px;
    margin: 5px;
}

.picTxt {
    width: max-content;
    top: 39px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    transform-origin: center;
    max-width: 160px;
    white-space: break-spaces;
    text-align: center;
    display: inline;
}

div.imageStyle{
    /* overflow: auto;
    white-space: nowrap;
    overflow-y:scroll; */
    max-width: min-content;
}